<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'libs/datepicker/air-datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'styles/css/index.min.css' %}">
  <title>Расписание</title>
</head>
<body>
  <div class="wrapper">
    <div class="wrapper-inner">
      <div class="wrapper-content">
        <aside class="sidebar">
          <form id="searchForm" class="form">
            <div class="form-block column">
              <label class="text" for="group">Группа</label>
              <select class="select" name="group" id="group">
                <option value="1">Группа 1</option>
                <option value="2">Группа 2</option>
                <option value="3">Группа 3</option>
                <option value="4">Группа 4</option>
              </select>
            </div>
            <div class="form-block column">
              <p class="text">Дата</p>
              <div id="datepicker"></div>
            </div>
            <div class="form-block row">
              <p class="text">Показать на всю неделю</p>
              <input type="checkbox" class="checkbox" name="full_week" id="fullWeek" value="true">
              <label for="fullWeek"></label>
            </div>
            <div class="form-block">
              <button type="submit" class="button">Показать расписание</button>
            </div>
          </form>
        </aside>
        <main class="main">
          <div class="main-info" style="display: none;">
            <p class="main-info__text" id="groupName">Класс <span class="selectClass"></span></p>
            <p class="main-info__text" id="date">Расписание на: <span class="selectDate"></span></p>
          </div>
          <table class="table" id="table">
            <thead id="thead">

            </thead>
            <tbody id="tbody">  
            </tbody>
          </table>
        </main>
      </div>
      <footer class="footer">

      </footer>
    </div>
  </div>

  <script src="{% static 'libs/axios/axios.min.js' %}"></script>
  <script src="{% static 'libs/datepicker/air-datepicker.js' %}"></script>
  <script src="{% static 'libs/moment/moment.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>
</body>
</html>