.main {
  flex: 1 1 auto;
  box-shadow: $box-shadow;
  background-color: $color-bg-block;
  border: $border;
  border-radius: $border-radius;
  padding: 15px;
  height: fit-content;

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    
    &__text {
      font-size: 18px;
      margin: 0;
    }
  }
}